* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



nav {
  background-color: darkgray;
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 12px;
  font-weight: bold;
  width: 80px;
  border-radius: 40px;


}

nav li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 10px;
  padding: 1.1rem;
  list-style: none;


}

.nav-links {
  display: flex;
  width: 200px;
  justify-content: space-around;
  font-size: 10px;
  font-weight: bold;
  transition: 1s;


}


.logo img {
  width: 90px;
  border-radius: 45px;
  display: flex;
  position: absolute;
  left: 1px;
}

.n-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 400px;
  min-height: 15px;

}

.n-links li {
  font-size: 9px;
  font-weight: bold;
  list-style: none;
  padding: 18px;
  display: flex;
  width: 1000px;
  float: right;
  left: 23px;




}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

ul li a {


  width: 70px;
  justify-content: space-around;
  text-decoration: none;
}

ul {
  display: inline-flex;
}

.about-us p {
  margin: 5px;
}

.about-us h1 {
  margin: 10px;
}

.about-col {
  margin: 23px;
}

.about-col a {
  margin: 60px;
}

.lesson h3 {
  margin: 25px;

}

h3 {
  color: white;
}

.lesson h2 {
  margin: 25px;
}

.lesson img {
  margin: 0px;
  width: 550px;
  height: 250px;
  margin-bottom: 100px;
  margin-left: 25px;
  margin-right: 25px;
}

.mor {
  width: 450px;
  height: 577px;
}

@media screen and(max-width: 600px) {
  nav ul li a {
    position: absolute;
    height: 500px;
    top: 25px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    transform: translateX(25%);


  }
}

h1 {
  text-align: center;
}

h2 {
  color: rgb(5, 5, 27);
}

h4 {
  text-align: center;
}

.comment-section {
  align-items: center;
  position: absolute;
  padding-left: 30px;
}