.learn {
  background-color: rgb(164, 240, 240);
}

.learn th {
  background-color: rgb(218, 226, 226);

  text-transform: lowercase;
  padding-left: 15px;
}

.learn td {

  text-align: center;
  font-style: italic;


}